body {
	 font-family: 'FontAwesome';
}
header {
	text-align: left;
}
.cine{
	height: 40px;
}
input {
	margin-top: 10px;
	color: #D2C9C9;
}
img {
	width: 100%;
}
.mov {
	color: gray;
	font-family: Arial;
	position: relative;
	top: 10px;
}
.cabeza {
	background: white;
}
.big {
	background: url(../img/banner.jpg);
	width: 100%;
}
.hero {
	width: 12%;
	height: 20%;
	margin: 40%;
	margin-left: 36%;
	margin-top: 48%;
}
.cubo {
	border: 3px solid green;
	border-radius: 5px;
	color: green;
	text-align: center;
	width: 40%;
}
hr {
	margin-bottom: 10px;
}
.lateral {
	
}
.amarillo {
	background: #F6D311;
	padding: 5px;
}
.foto{
	width: 100%;
	height: 150px;
}
table {
	display: block;
	font-size: 10px;
	font-family: Arial;
}
.lado {
	padding-right: 50px;
}
.lado{
	font-family: Arial;
	font-size: 10px;
}